@using T2Access.Web.Resources;
@using T2Access.Web.Helper;
@*@{
    Culture = UICulture = "en";

    System.Threading.Thread.CurrentThread.CurrentCulture = new System.Globalization.CultureInfo(Culture);
    }*@

<!DOCTYPE html>
<html dir="@(System.Threading.Thread.CurrentThread.CurrentCulture.TextInfo.IsRightToLeft ? "rtl" : "ltr")">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - User</title>

    <!--==========================================================================================================================================================================================
    <!-- Bootstrap core CSS -->
    @Styles.Render("~/Content/css")
    <!--------------external css----------------->
    @Styles.Render("~/Assets/lib/gritter/css/jquery.gritter.css")
    @Styles.Render("~/Assets/lib/toastr/css/toastr.min.css")
    <!-- Custom styles for this template -------->
    @Styles.Render("~/Assets/User/css/style.css")
    @Styles.Render("~/Assets/User/css/style-responsive.css")
    <!--========================================================================================================================================================================================== -->
    @RenderSection("Styles", false)





</head>
<body @*onload="getTime()"*@>
    <section id="container">
        <!-- TOP BAR CONTENT & NOTIFICATIONS -->
        <!--header start-->
        <header class="header black-bg">
            <div class="sidebar-toggle-box">
                <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
            </div>
            <!--logo start-->
            <a href="@Url.Action("Index", "User")" class="logo "><b>t<span id="t">t</span><span>Ac</span>cess</b></a>
            <!--logo end-->
            <div class="nav notify-row" id="top_menu ">

            </div>
            <div class="top-menu">
                <ul class="nav pull-right top-menu">
                    <li>
                        @Html.ActionLink(Resource.Logout, "LogOut", "Account", null, new { @class = "logout fa fa-sign-out btn" })
                    </li>
                </ul>
            </div>
        </header>
        <!--header end-->
        <!--MAIN SIDEBAR MENU -->
        <!--sidebar start-->

        <aside>
            <div id="sidebar" class="nav-collapse ">
                <!-- sidebar menu start-->
                <ul class="sidebar-menu" id="nav-accordion">
                    <!--<p class="centered"><a href="profile.html"><img src="Assets/User/shadi.jpg" class="img-circle" width="100" height="100"></a></p>-->
                    <h5 class="centered">@Session["FirstName"]  @Session["LastName"]  </h5>
                    <li class="mt">
                        <a class="@Html.IsSelected("User","index", "active")" href="@Url.Action("Index", "User")">
                            <i class="fa fa-dashboard"></i>
                            <span>Dashboard</span>
                        </a>
                    </li>
                    <li class="sub-menu">
                        <a href="javascript:;" class="@Html.IsSelected("Gate,User", "UserManagment,GateManagment,Create,Edit", "active")">
                            <i class="fa fa-desktop"></i>
                            <span>@Resource.Accounts</span>
                        </a>
                        <ul class="sub">

                            <li class="@Html.IsSelected("User", "UserManagment,Create,Edit", "active")"> <a href="@Url.Action("UserManagment", "User")">@Resource.Users</a></li>
                            <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "GateManagment" ? "active" : "")"><a href="@Url.Action("GateManagment", "Gate")">@Resource.Gates</a></li>

                        </ul>
                    </li>

                </ul>
                <!-- sidebar menu end-->
            </div>
        </aside>
        <!--sidebar end-->
        <!-- **********************************************************************************************************************************************************
        MAIN CONTENT
        *********************************************************************************************************************************************************** -->
        <!--main content start-->
    </section>
    <section id="main-content">
        <section class="wrapper">










            @RenderBody()
            @Html.Partial("_ConfirmModal")







        </section>

        <!--main content end-->
        <!--footer start-->
        <footer class="site-footer navbar-fixed-bottom footer">
            <div class="text-center">
                <p>&copy; Copyrights <strong>T2 - business research and development </strong> All Rights Reserved</p>


            </div>
        </footer>

    </section>



    <!--footer end-->
    <!--=================================================================================================-->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/modernizr")
    <!--=================================================================================================-->
    @Scripts.Render("~/Assets/lib/jquery.dcjqaccordion.2.7.js")
    @Scripts.Render("~/Assets/lib/jquery.scrollTo.min.js")
    @Scripts.Render("~/Assets/lib/jquery.nicescroll.js")
    @Scripts.Render("~/Assets/lib/jquery.sparkline.js")
    <!--Scripts for Page-->
    @RenderSection("Scripts", false)
  
    <!--common script for all pages-->
    @Scripts.Render("~/Assets/common-scripts.js")
    @Scripts.Render("~/Assets/lib/gritter/js/jquery.gritter.js")
    @Scripts.Render("~/Assets/lib/toastr/js/toastr.min.js")
    <!--=================================================================================================-->
    <script>
        $(document).ready(function () {
                    setupToastr();


                @if (!string.IsNullOrWhiteSpace(ViewBag.toastrMessage))
                {
                    @: toastr.success("@ViewBag.toastrMessage", "Success");
        }


        });

    </script>






</body>
</html>










