@model T2Access.Models.LoginModel

@using T2Access.Web.Resources


@*<div class="modal-header">
    <h4 class="modal-title text-center">Confirm Operation</h4>

</div>*@




@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="modal-body">
        <p class="centered"><img style="border-radius:50%" width="80" height="80" src="@HttpContext.Current.Session["UserImg"]"></p>
        <h5 class="centered">@HttpContext.Current.Session["Firstname"] @HttpContext.Current.Session["Lastname"]</h5>


        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <input data-val="true" data-val-required="The Id field is required." id="Username" name="Username" type="hidden" value="@HttpContext.Current.Session["Username"]">


        <div class="form-group">
            <div class="col-md-13 ">
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control placeholder-no-fix", @placeholder = "Password", @autocomplete = "off" } })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="modal-footer ">
        <div class="form-group">
            <button data-dismiss="modal" class="btn btn-danger" type="button">@Resource.Cancel</button>
            <input type="submit" value=@Resource.Confirm class="btn btn-primary" />

        </div>
    </div>


}




