@model T2Access.Models.UserViewModel
@using T2Access.Web.Resources


@{
    ViewBag.Title = "User  Managment";
}


@section Styles {




    <link href="~/Assets/lib/MDB/css/addons/datatables-select.min.css" rel="stylesheet" />
    <link href="~/Assets/lib/MDB/css/addons/datatables.min.css" rel="stylesheet" />


}


<div class="row mt">
    <div class="col-md-12">
        <div class="content-panel  ">
            <table class="table table-striped table-advance table-hover  " id="DTable" width="100%">

                <h4 style="display:inline-block;"> @Resource.UserTable </h4>
                @Html.ActionLink($"   {Resource.CreateUser}", "Create", "User", null, new { @class = "fa  fa-plus btn  btn-success pull-right" })

                @if (!string.IsNullOrEmpty(ViewBag.StateMessage))
                {
                    <div class="alert alert-success" role="alert">ViewBag.StateMessage)</div>
                }
                @if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
                {
                    <div class="alert alert-danger" role="alert">ViewBag.ErrorMessage</div>

                }

                <br>
                <thead>
                    <tr>
                        <th data-sortable="true">
                            <span class=" fa fa-user"></span>
                            @Html.DisplayNameFor(model => model.UserName)
                        </th>
                        <th>
                            <span class=" fa fa-user"></span>
                            @Html.DisplayNameFor(model => model.FirstName)
                        </th>
                        <th>
                            <span class=" fa fa-user"></span>
                            @Html.DisplayNameFor(model => model.LastName)
                        </th>
                        <th>
                            <span class=" fa fa-edit"></span>
                            @Html.DisplayNameFor(model => model.Status)
                        </th>
                        <th>
                            <span class=" fa fa-flash"></span>
                            @Resource.Actions
                        </th>
                    </tr>
                </thead>
                <tbody id="tbodyPartial">


                    @*@Html.Action("GetAll")*@



                </tbody>
            </table>
        </div>
    </div>
</div>






@Html.Partial("_AddEditModal")

@section Scripts
  {


    @Scripts.Render("~/Assets/lib/MDB/js/addons/datatables.min.js")
    @Scripts.Render("~/Assets/lib/MDB/js/addons/datatables-select.min.js")

    <script>
        

        $(document).ready(function () {
            $("#DTable").DataTable({
                ajax: function (data, callback, settings) {
                 
                    $.get("@Url.Action("GetAll", "User")", data
                        , function (result) {
                            
                            callback({
                                recordsTotal: result.recordsTotal,
                                recordsFiltered: result.recordsFiltered,
                                draw: result.draw,
                                data: result
                            });
                            $("#tbodyPartial").html(result.view);


                        });
                },

                serverSide: true,
                processing: true,
                bFilter: true,
                bInfo: true,
                pagingType: "full_numbers",
                bSortable: false,
                aaSorting: false,
                order: [3, "asc"],
                columns: [
                    { data: "UserName", name: "UserName", autoWidth :true },
                    { data: "FirstName", name: "FirstName" , autoWidth :true },
                    { data: "LastName", name: "LastName", autoWidth :true },
                    { data: "Status", name: "Status", autoWidth :true },
                    { data: null, "orderable": false, autoWidth :true }

                ],
                language: {
                    "lengthMenu": "Display _MENU_ records per page",
                    "zeroRecords": "Nothing found - sorry",
                    // "info": "Showing page _PAGE_ of _PAGES_",
                    "infoEmpty": "No records available",
                    "infoFiltered": "(filtered from _MAX_ total records)",
                    "processing": "Processing ... please wait"
                }
            });

        });





            // Variables
            var deleteUrl = "@Url.Action("Delete", "User")";
            var resetpasswordUrl = "@Url.Action("ResetPassword", "User")";
            var ReLoginUrl = "@Url.Action("ReLogin", "Account")";
            @*var TableUrl = "@Url.Action("GetAll", "User")";*@

            var confirmMessage = "@Resource.ConfirmDelete";


           
       


        

    </script>






}