@model T2Access.Models.UserViewModel
@using T2Access.Models.Resources
@using T2Access.Web.Resources


@{
    ViewBag.Title = "User  Managment";
}


@section Styles {




    @*<link href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" rel="stylesheet" />*@
    <link href="~/Assets/lib/MDB/css/addons/datatables.min.css" rel="stylesheet" />
    <link href="~/Assets/lib/MDB/css/addons/datatables-select.min.css" rel="stylesheet" />


    
}


<div class="row mt">
    <div class="col-md-12">
        <div class="content-panel  ">
            <h4  style="display: inline;"> @Resource.UserTable </h4>
            @Html.ActionLink($"     {Resource.CreateUser}", "Create", "User", null, new { @class = "fa  fa-plus btn btn-lg  btn-success pull-away" })
            <br />

            @*DataTable Area*@
            <table class="table table-striped table-advance table-hover  " id="DTable" width="100%">


                @if (!string.IsNullOrEmpty(ViewBag.StateMessage))
                {
                    <div class="alert alert-success" role="alert">ViewBag.StateMessage)</div>
                }
                @if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
                {
                    <div class="alert alert-danger" role="alert">ViewBag.ErrorMessage</div>

                }


                @*Search Area*@
                <div class="row mt mb">

                    <div class="dataTables_filter col-md-3"><input id="txtFilterByUserName" type="search" class="form-control form-control-sm" placeholder="@ModelResource.UserName" aria-controls="DTable"></div>
                    <div class="dataTables_filter col-md-3"><input id="txtFilterByFirstName" type="search" class="form-control form-control-sm" placeholder="@ModelResource.FirstName" aria-controls="DTable"></div>
                    <div class="dataTables_filter col-md-3 "><input id="txtFilterByLastName" type="search" class="form-control form-control-sm" placeholder="@ModelResource.LastName" aria-controls="DTable"></div>
                    <div class="dataTables_filter col-md-3">
                        @Html.EnumDropDownListFor(model => model.Status, ModelResource.Status, htmlAttributes: new { @class = "dropdown-toggle  form-control-sm ", @id = "txtFilterByStatus" })
                        <button id="btnSearch" class="fa  fa-search btn  btn-info  btn-lg  pull-away"></button>
                    </div>
                </div>

                <thead>
                    <tr>
                        <th data-sortable="true">
                            <span class=" fa fa-user"></span>
                            @Html.DisplayNameFor(model => model.UserName)
                        </th>
                        <th>
                            <span class=" fa fa-user"></span>
                            @Html.DisplayNameFor(model => model.FirstName)
                        </th>
                        <th>
                            <span class=" fa fa-user"></span>
                            @Html.DisplayNameFor(model => model.LastName)
                        </th>
                        <th>
                            <span class=" fa fa-edit"></span>
                            @Html.DisplayNameFor(model => model.Status)
                        </th>
                        <th>
                            <span class=" fa fa-flash"></span>
                            @Resource.Actions
                        </th>
                    </tr>
                </thead>
                <tbody id="tbodyPartial">


                    @*@Html.Action("GetAll")*@



                </tbody>
            </table>
        </div>
    </div>
</div>






@Html.Partial("_AddEditModal")

@section Scripts
  {


    @Scripts.Render("~/Assets/lib/MDB/js/addons/datatables.min.js")
    @Scripts.Render("~/Assets/lib/MDB/js/addons/datatables-select.min.js")

    @*@Scripts.Render("https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js")
        @Scripts.Render("https://cdn.datatables.net/select/1.3.1/js/dataTables.select.min.js")*@

    <script>
        var DTable;
        $(document).ready(function () {
            DTable = $("#DTable").DataTable({
                ajax: function (data, callback, settings) {

                    $.get("@Url.Action("LoadData", "User")", data
                        , function (result) {

                            callback({
                                recordsFiltered: result.recordsTotal,
                                draw: result.draw,
                                data: JSON.parse(result.data)
                            });
                            //$("#tbodyPartial").html(result.view);


                        });
                },

                serverSide: true,
                processing: true,
                dom:'<"top"l>rt<"button row mt"<"col-md-6"i><"col-md-6"p>><"clear">',
                bFilter: true,
                bInfo: true,
                pagingType: "full_numbers",
                bSortable: false,
                aaSorting: true,
                 order: [],
                columns: [
                    { data: "UserName", name: "UserName", autoWidth :true },
                    { data: "FirstName", name: "FirstName" , autoWidth :true },
                    { data: "LastName", name: "LastName", autoWidth: true },
                    {
                        data: "Status", name: "Status", autoWidth: true, render: function (data) {
                            var res = data.split("_");
                            return '<span class="badge badge-' + res[0] + '">' + res[1] + '</span>';
                        }
                    },
                    {
                        data: null, "orderable": false, autoWidth: true, render: function (type, data, row) {
                            return `<a title="@Resource.Edit" class="btn btn- btn-primary btn-s fa fa-pencil"  href="@Url.Action("Edit","User")/${row["Id"]}" ></a>
                                    <button title="@Resource.Delete" class="btn btn-danger btn-s  fa fa-trash-o btnDelete" data-toggle="modal" data-id="${row["Id"]}"  title="Delete User" ></button>
                                    <button title=" @Resource.Reset" class="btn btn-warning btn-s fa fa-key" data-toggle="modal" title="Edit password" onclick='ResetPasswordModal({Id:"${row["Id"]}",UserName:"${row["UserName"]}"})'></button> `;
                        }
                    }

                ],
                language: {
                    "lengthMenu": "@Resource.lengthMenu",
                    "zeroRecords": "@Resource.NotFound",
                    // "info": "Showing page _PAGE_ of _PAGES_",
                    "info": "@Resource.SInfoTable",
                    "infoEmpty": "@Resource.NoRecordAvailable",
                    //"infoFiltered": "(filtered from _MAX_ total records)",
                    "sInfoFiltered": "",
                    "processing": '<i class="fa fa-spinner fa-spin fa-3x fa-fw"></i><span class="sr-only">Loading....</span> ',
                    "paginate": {
                        "next": "@Resource.Next",
                        "previous" :"@Resource.Previous",
                        "first" :"@Resource.First",
                        "last" :"@Resource.Last"

                    }
                }
            });

        });


        //Apply Custom search on  jQuery Datatable
        $('#btnSearch').click(function(){
            //Apply search for User Name
            DTable.columns(0).search($('#txtFilterByUserName').val().trim());

            //Apply search for First Name
            DTable.columns(1).search($('#txtFilterByFirstName').val().trim());

            //Apply search for Last Name
            DTable.columns(2).search($('#txtFilterByLastName').val().trim());

            //Apply search for Status
            DTable.columns(3).search($('#txtFilterByStatus').val().trim());

            DTable.draw();

        });







            // Variables
            var deleteUrl = "@Url.Action("Delete", "User")";
            var resetpasswordUrl = "@Url.Action("ResetPassword", "User")";
            var ReLoginUrl = "@Url.Action("ReLogin", "Account")";

            var confirmMessage = "@Resource.ConfirmDelete";








    </script>






}