@model T2Access.Models.GateViewModel
@using T2Access.Web.Resources

@{
    ViewBag.Title = "GateManagment";
}

@section Styles {


    <link href="~/Assets/lib/MDB/css/addons/datatables-select.min.css" rel="stylesheet" />
    <link href="~/Assets/lib/MDB/css/addons/datatables.min.css" rel="stylesheet" />

}


<div class="row mt">
    <div class="col-md-12">
        <div class="content-panel   ">

            <h4 style="display:inline-block;">@Resource.GateTable</h4>
            <button class=" fa  fa-plus btn btn-success pull-right" data-toggle="modal" onclick="createModal()"> @Resource.CreateGate</button>
            <br />
            <table class="table table-striped table-advance table-hover" id="DTable">

                <thead>
                    <tr>
                        <th>
                            
                            <span class=" fa fa-user"></span>
                            @Html.DisplayNameFor((model => model.UserName))
                        </th>
                        <th>
                            @*<span class=" fa fa-font"></span>*@
                            @Html.DisplayNameFor(model => model.NameAr)
                        </th>
                        <th>
                            @*<span class=" fa fa-bold "></span>*@
                            @Html.DisplayNameFor(model => model.NameEn)
                        </th>
                        <th>
                            <span class=" fa fa-edit"></span>
                            @Html.DisplayNameFor(model => model.Status)
                        </th>
                        <th>
                            
                            <span class=" fa fa-flash"></span>
                            @Resource.Actions
                        </th>
                    </tr>
                </thead>
                <tbody id="tbodyPartial">

                    @Html.Action("GetAll")


                    </tbody>
            </table>

        </div>
        <!-- /content-panel -->
    </div>








    @Html.Partial("_AddEditModal")

    @section Scripts
  {



        @Scripts.Render("~/Assets/lib/MDB/js/addons/datatables.min.js")
        @Scripts.Render("~/Assets/lib/MDB/js/addons/datatables-select.min.js")

        <script>

            var dataTableConfig = {
                    destroy:true,
                    bFilter: true,
                    bInfo: true,
                    bAutoWidth: false,
                    bSortable: false,
                    columnDefs: [
                        { orderable: false, targets: 4 }
                    ],
                    language: {
                        "lengthMenu": "Display _MENU_ records per page",
                        "zeroRecords": "Nothing found - sorry",
                        // "info": "Showing page _PAGE_ of _PAGES_",
                        "infoEmpty": "No records available",
                        "infoFiltered": "(filtered from _MAX_ total records)"
                    }
                }

            $(document).ready(function () {
                $("#DTable").DataTable(dataTableConfig);

            });
          


            var createUrl = "@Url.Action("Create", "Gate")";
            var editGateUrl = "@Url.Action("Edit", "Gate")";
            var deleteUrl = "@Url.Action("Delete", "Gate")";
            var resetpasswordUrl = "@Url.Action("ResetPassword", "Gate")";
            var ReLoginUrl = "@Url.Action("ReLogin", "Account")";
            var TableUrl = "@Url.Action("GetAll", "Gate")";

            var confirmMessage = "@Resource.ConfirmDelete";


            var editModal = function (data) {
                $("#addEditModalContent").load(editGateUrl,function () {


                    $("#Id").val(data.Id);
                    $("#UserName").val(data.UserName);
                    $("#NameAr").val(data.NameAr);
                    $("#NameEn").val(data.NameEn);
                    $("#Status").val(data.Status);

                    $("#addEditModal").modal("show");


                    bindForm(this);

                 });
            }



        </script>


    }
